// Colors
$primary: #5c51c5;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;
// Boton Google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
//Media query
$small: '320px';
$medium: '768px';
$large: '1200px';